/* --- General & Typography --- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.05) 1px, transparent 0);
    background-size: 25px 25px;
    color: #EAEAEA;
    overflow-x: hidden;
}

.container { max-width: 1140px; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }

section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.text-primary { color: #0d6efd !important; }